@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url("/includes/fonts/RobotoRegular.ttf") format('ttf')
}

@font-face {
    font-family: 'DejaVuSans';
    font-style: normal;
    font-weight: 400;
    src: local('DejaVu Sans'), local('DejaVu-Sans'), url("/includes/fonts/DejaVuSans.ttf") format('ttf')
}

body {
    background: rgba(39, 174, 96, 0.3); /*url("/includes/img/body_bg.png");*/
    color: #333;
    overflow-x: hidden !important
}

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

a {
    text-decoration: none;
    color: #3f566d;
}

a:hover {
    color: #646464;
    text-decoration: none
}

a:focus {
    outline: none;
    text-decoration: none
}

h2 {
    font-family: 'Oswald', sans-serif;
    line-height: 23px
}

img {
    border: none
}

img:hover {
    opacity: 0.75
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.img-right {
    display: block;
    margin-left: auto
}

.img-left {
    display: block;
    margin-right: auto
}

.yellow_bg {
    background-color: #ffd62c
}

.yellow_btn {
    background-color: #ffd62c;
    color: #fff
}

.yellow_btn:hover {
    background-color: #f8c907;
    color: #fff
}

.limeblue_bg {
    background-color: #7dc34d
}

.blue_bg {
    background-color: #09c
}

.blue_btn {
    background-color: #09c;
    color: #fff
}

.blue_btn:hover {
    background-color: #39c8f7;
    color: #fff
}

.transition {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

#header {
    float: left;
    display: inline;
    width: 100%;
    padding: 0 3em;
    background-color: #fff;
    background: url("/includes/img/heading.jpg");
    background-position-y: 100%;
    height: 200px;
}

.header_top {
    display: inline;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e6e6e6
}

.header_top_left {
    float: left;
    display: inline;
    width: 70%
}

.top_nav {
    text-align: left
}

.top_nav li {
    display: inline-block
}

.top_nav li a {
    color: #798992;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    padding: 8px 12px;
    text-transform: uppercase;
    -webkit-transition: all 0.5;
    -o-transition: all 0.5;
    transition: all 0.5
}

.top_nav li a:hover {
    color: #FFA500;
    text-decoration: none;
    outline: none
}

.header_top_right {
    float: right;
    display: inline;
    width: 30%;
    text-align: right
}

.search_form {
    padding: 3px 0 0
}

.search_form input[type="text"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #afafaf;
    display: inline-block;
    line-height: 27px;
    margin: 0;
    max-height: 31px;
    padding: 0 0 0 15px;
    width: 180px
}

.search_form input[type="submit"] {
    background: url("images/icon-search.png") no-repeat scroll center 5px rgba(0, 0, 0, 0);
    height: 27px;
    line-height: 27px;
    width: 30px;
    border: none
}

.header_bottom {
    display: inline;
    float: left;
    width: 100%;
    padding: 30px 0px
}

.header_bottom_left {
    float: left;
    display: inline;
    width: 217px
}

.logo {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 32px;
    width: 217px;
    color: #ECF0F1;
}

.logo:hover
{
    color: #BDC3C7;
}

.logo > img:hover {
    opacity: 1;
}

.logo > strong {
    color: #27AE60
}

.logo > span {
    display: block;
    font-size: 16px;
    font-weight: normal
}

.header_bottom_right {
    float: right;
    display: inline;
    width: 728px
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("images/status.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px
}

.scrollToTop {
    bottom: 105px;
    display: none;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    right: 75px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 9;
    border: 1px solid;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.scrollToTop:hover, .scrollToTop:focus {
    text-decoration: none;
    outline: none
}

#navarea {
    float: left;
    display: inline;
    width: 100%;
}

.navbar-default {
    border-radius: 0;
    padding: 0;
    margin-bottom: 0px
}

.container-fluid {
    padding-left: 0;
    padding-right: 0
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0
}

.custom_nav {
    border: 1px solid #fff;
    width: 100%
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-top: -2px;
    margin-bottom: -2px;
    padding-bottom: 17px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.navbar-default .navbar-nav > li:first-child {
    padding-left: 25px;
}

.dropdown-menu > li > a {
    color: #fff;
    font-family: "Oswald", sans-serif;
    padding: 5px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

#mainContent {
    background-color: #f6f6f6;
    display: inline;
    float: left;
    padding-top: 15px;
    width: 100%;
    box-shadow: 0 0 5px silver;
    min-height: 300px;
}

.content_top {
    float: left;
    display: inline;
    width: 100%
}

.latest_slider {
    float: left;
    display: inline;
    width: 100%;
    padding-left: 10px
}

.single_iteam {
    position: relative
}

.single_iteam img {
    width: 100%
}

.single_iteam h2 {
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    font-size: 20px;
    text-align: center;
    top: 45%
}

.single_iteam h2 > a:hover {
    text-decoration: underline
}

.single_iteam h2 > a {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 10px
}

.content_top_right {
    float: left;
    display: inline;
    width: 100%
}

.featured_nav {
}

.featured_nav li {
    display: block;
    float: left;
    height: 160px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    width: 48%
}

.featured_nav li img {
    width: 100%;
    height: 100%
}

.featured_nav li:hover .title_caption {
    height: 130px;
    padding-top: 15%
}

.title_caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.featured_nav li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.content_middle {
    float: left;
    display: inline;
    width: 100%
}

.content_middle_leftbar {
    float: left;
    display: inline;
    width: 100%
}

.single_category {
    float: left;
    display: inline;
    width: 100%
}

.single_category > h2, .archive_style_1 > h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    position: relative;
}

.bold_line {
    bottom: 0;
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%
}

.bold_line span {
    display: block;
    height: 100%;
    width: 100%
}

.solid_line {
    background-color: #fff;
    bottom: 5px;
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0
}

.title_text {
    background-color: #f6f6f6;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    top: 5px;
    z-index: 1
}

.catg1_nav {
}

.catg1_nav li {
    float: left;
    display: inline;
    width: 100%;
    margin-bottom: 30px
}

.catg1_nav li a {
}

.catgimg_container {
    height: 150px;
    overflow: hidden;
    width: 100%;
    overflow: hidden
}

.catg1_img img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.catg1_img:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.catg1_nav li .post_titile {
    color: #434c51;
    float: left;
    margin: 10px 0px;
    font-size: 16px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.catg1_nav li .post_titile a {
    color: #383838;
    font-family: 'Oswald', sans-serif;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.content_middle_middle {
    border-left: 10px solid #798992;
    border-right: 10px solid #798992;
    display: inline;
    float: left;
    margin-top: 17px;
    position: relative;
    width: 100%
}

.content_middle_middle:after {
    content: "";
    height: 122px;
    left: -10px;
    position: absolute;
    top: 0;
    width: 10px
}

.content_middle_middle:before {
    content: "";
    height: 122px;
    right: -10px;
    position: absolute;
    top: 0;
    width: 10px
}

.single_featured_slide {
    float: left;
    display: inline;
    width: 100%;
    text-align: center
}

.single_featured_slide img {
    width: 100%
}

.single_featured_slide > h2 a {
    color: #383838;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s
}

.single_featured_slide > p {
    font-size: 12px;
    padding: 0px 16px
}

.content_middle_middle .slick-prev {
    left: 15px;
    top: 25px
}

.content_middle_middle .slick-next {
    left: 62px;
    right: 0;
    top: 25px
}

.content_middle_rightbar {
    float: left;
    display: inline;
    width: 100%
}

.content_bottom {
    float: left;
    display: inline;
    width: 100%;
    overflow: hidden;
}

.content_bottom_left {
    background-color: #fff;
    display: inline;
    float: left;
    margin-left: -15px;
    min-height: 530px;
    width: 102%;
    padding-right: 25px;
    padding-left: 25px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.content_bottom_left .title_text {
    background-color: #fff
}

.business_category_left {
    display: inline;
    width: 49%;
    float: left;
    padding-top: 20px
}

.archive_style_1 > .business_category_left {
    width: 48% !important;
    margin-right: 2%
}

.fashion_catgnav {
}

.fashion_catgnav li {
    border-bottom: 1px dotted #e5e5e5;
    display: block;
    margin-bottom: 10px;
    width: 100%
}

.fashion_catgnav li > p {
    float:left;
}

.catgimg2_container {
    width: 100%;
    height: 240px;
    float: left;
    display: block;
    overflow: hidden
}

.catgimg2_container img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.catgimg2_container a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.catg_titile {
    margin-bottom: 18px;
    float: left
}

.catg_titile a {
    color: #383838;
    font-size: 24px
}

.comments_box {
    float: left;
    display: inline;
    width: 100%;
    margin-bottom: 5px
}

span.meta_date, span.meta_comment, span.meta_more {
    display: inline-block;
    margin-right: 8px;
    color: #7F8C8D;
    font-size: 12px
}

span.meta_comment a {
    color: #7F8C8D;
}

span.meta_date:before {
    content: " ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 4px;
    text-decoration: inherit
}

span.meta_comment:before {
    content: " ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 4px;
    text-decoration: inherit
}

span.meta_more:before {
    content: " ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-right: 4px;
    text-decoration: inherit
}

.business_category_right {
    float: right;
    display: inline;
    width: 49%;
    padding-top: 20px
}

.small_catg {
}

.small_catg li {
    border-bottom: 1px solid rgba(192, 192, 192, 0.3);
    display: block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%
}

.related-img {
    display: inline-block;
    float: left
}

.media-left {
    width: 112px;
    height: 112px
}

.media-left > img {
    width: 100%;
    height: 80px !important;
}

.media-heading a {
    font-family: "DejaVu Sans", sans-serif
}

.games_fashion_area {
    float: left;
    display: inline;
    width: 100%
}

.games_category {
    float: left;
    display: inline;
    width: 49%
}

.fashion_category {
    float: right;
    display: inline;
    width: 49%
}

.technology_catrarea {
    float: left;
    display: inline;
    width: 100%
}

.content_bottom_right {
    float: left;
    display: inline;
    width: 100%
}

.single_bottom_rightbar {
    float: left;
    display: inline;
    width: 100%;
    margin-bottom: 10px
}

.single_bottom_rightbar > h2 {
    color: #222;
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 6px 0 15px;
    padding: 0 0 13px;
    text-transform: uppercase;
    position: relative
}

.single_bottom_rightbar > h2:after {
    background: none repeat scroll 0 0 #798992;
    bottom: -3px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 45%
}

.popular_catg {
}

.popular_catg .media-left img {
    border: 1px solid lightGrey;
    padding: 2px;
    height: 71px;
}

.popular_catg li {
    border-bottom: none
}

.tab-content {
    padding-top: 20px
}

.nav-tabs > li > a:before {
    visibility: hidden;
    margin-right: 0px !important
}

.single_bottom_rightbar ul li a {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s
}

.single_bottom_rightbar ul li > a:before {
    content: " ";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px
}

.blog_archive {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 15px
}

.blog_archive select {
    background-color: #fff;
    border: medium none;
    height: 50px;
    padding: 10px;
    width: 100%
}

.blog_archive select option {
    cursor: pointer;
    padding: 10px 5px
}

#footer {
    float: left;
    display: inline;
    width: 100%;
    border-top: 10px solid #798992;
}

.footer_top {
    background-color: #434c51;
    display: inline;
    float: left;
    padding: 15px 0;
    width: 100%
}

.single_footer_top {
    float: left;
    display: inline;
    width: 100%
}

.single_footer_top > h2 {
    font-size: 18px;
    margin: 0 0 10px;
    padding: 6px 0;
    text-transform: uppercase
}

.flicker_nav {
}

.flicker_nav li {
    display: block;
    float: left;
    width: 22%;
    margin-right: 8px;
    margin-bottom: 8px
}

.flicker_nav li a {
    display: block;
    height: 75px;
    width: 100%
}

.flicker_nav li a img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.flicker_nav li a img:hover {
    opacity: 0.75;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

.labels_nav {
    text-align: left
}

.labels_nav li {
    display: inline-block
}

.labels_nav li a {
    display: inline-block;
    background: none repeat scroll 0 0 #2e3d45;
    color: #ddd;
    line-height: 12px;
    margin: 0 2px 4px 0;
    padding: 12px 17px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s
}

.single_footer_top p {
    color: #ddd
}

.footer_bottom {
    float: left;
    display: inline;
    width: 100%;
    background: none repeat scroll 0 0 #282e31;
    color: #eee;
    font-size: 12px;
    padding: 8px 20px
}

.footer_bottom_left {
    float: left;
    display: inline;
    width: 100%
}

.footer_bottom_left p, .footer_bottom_right p {
    color: #949494;
    margin: 9px 10px 10px
}

.footer_bottom_right p {
    font-size: 10px
}

.footer_bottom_right {
    float: left;
    display: inline;
    width: 100%;
    text-align: right
}

.single_page_area {
    display: inline;
    float: left;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 25px
}

.breadcrumb {
    border-radius: 0
}

.breadcrumb li a {
    color: #fff
}

.breadcrumb > li + li:before {
    color: #fff
}

.breadcrumb > .active {
    color: #fff
}

.single_page_area > h2 {
    color: #798992;
    padding: 20px 10px;
    line-height: 40px
}

.single_page_content {
    float: left;
    display: inline;
    width: 100%
}

.post_commentbox {
    border-bottom: 1px dotted #dedede;
    display: inline;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 2px;
    padding-left: 5px;
    width: 100%;
}

.post_commentbox a {
    margin-right: 5px;
    font-size: 11px
}

.post_commentbox a > i {
    margin-right: 5px
}

.post_commentbox span, .post_commentbox i {
    color: #34495E;
    font-size: 11px;
    margin-right: 5px
}

.post_commentbox span > i {
    margin-right: 5px
}

.post_commentbox .views {
    font-size: 1.1em;
}

.single_page_content img {
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%
}

.single_page_content blockquote {
    border-style: solid;
    border-width: 5px;
    font-size: 15px;
    font-style: italic
}

.single_page_content ul {
    margin-bottom: 10px
}

.single_page_content ul li {
    margin-bottom: 3px;
    padding-left: 30px
}

.single_page_content ul li:hover {
    opacity: 0.75
}

.single_page_content ul li:before {
    border-radius: 0;
    color: #ffa500;
    content: "";
    height: 10px;
    margin-left: -15px;
    margin-top: 5px;
    position: absolute;
    width: 10px
}

.btn:hover {
    border-radius: 0px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.post_pagination {
    display: inline;
    float: left;
    height: 92px;
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px
}

.prev {
    display: inline;
    float: left;
    width: 50%
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.pagination>.active>a:active {
    background-color: #27AE60;
    border-color: #27AE60;
}
.angle_left {
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    padding: 30px 2px;
    text-align: center;
    width: 50px
}

.angle_right {
    color: #fff;
    display: block;
    float: right;
    font-size: 20px;
    padding: 30px 2px;
    text-align: center;
    width: 50px
}

.angle_right:hover, .angle_left:hover {
    color: #fff
}

.pagincontent {
    display: inline;
    float: left;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    width: 86%
}

.pagincontent > span {
    color: #798992;
    display: block;
    font-size: 14px;
    text-transform: uppercase
}

.pagincontent > a {
    color: #2f2f2f;
    display: block;
    font-size: 18px
}

.next {
    display: inline;
    float: right;
    width: 50%;
    text-align: right
}

.share_post {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 20px
}

.share_post a {
    color: #fff;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-bottom: 25px;
    margin-right: 10px;
    padding-right: 10px
}

.facebook {
    background-color: #436fc9
}

.facebook i {
    background-color: #3967c6;
    display: block;
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 33px;
    margin-right: 10px;
    padding-top: 0;
    text-align: center;
    width: 32px
}

.twitter {
    background-color: #40bef4
}

.twitter i {
    background-color: #26b5f2;
    display: block;
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 33px;
    margin-right: 10px;
    padding-top: 0;
    text-align: center;
    width: 32px
}

.googleplus {
    background-color: #ec5f4a
}

.googleplus i {
    background-color: #e94d36;
    display: block;
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 33px;
    margin-right: 10px;
    padding-top: 0;
    text-align: center;
    width: 32px
}

.linkedin {
    background-color: #007BB5
}

.linkedin i {
    background-color: #346DA6
}

.odnoklassniki {
    background-color: #FFA500
}

.odnoklassniki i {
    background-color: #ee8208;
    padding-left: 6px;
}

.linkedin i, .odnoklassniki i {
    display: block;
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 33px;
    margin-right: 10px;
    padding-top: 0;
    text-align: center;
    width: 32px
}

.similar_post {
    background-color: #fff;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    padding: 0 15px;
    width: 100%
}

.similar_post h2 {
    border-bottom: 1px dotted #798992;
    font-size: 25px;
    padding-bottom: 5px
}

.similar_nav li {
    border-bottom: 0px dotted #e5e5e5;
    width: 80%;
    float: left
}

.similar_nav li:first-child {
    margin-top: 15px;
}

.archive_area {
    float: left;
    display: inline;
    width: 100%
}

.single_archive {
    display: inline;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 20px
}

.archive_imgcontainer {
    float: left;
    display: inline;
    width: 100%;
    height: 300px;
    overflow: hidden
}

.archive_imgcontainer > img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.archive_imgcontainer:hover img {
    transform: scale(1.1)
}

.archive_caption {
    bottom: 25px;
    left: 0;
    padding: 10px 20px;
    position: absolute
}

.archive_caption h2 > a {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    padding: 8px 10px 10px
}

.archive_caption h2 > a:hover {
    text-decoration: underline
}

.archive_caption p {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 3px
}

.read_more {
    border-bottom: 4px solid #ffa500;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    text-align: right;
    width: 100%
}

.read_more > span {
    background-color: #ffa500;
    color: #fff;
    display: inline-block;
    padding: 5px 10px
}

.error_page_content {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
    padding-bottom: 45px
}

.error_page_content h1 {
    display: inline-block;
    font-size: 300px;
    font-weight: 400;
    position: relative;
    vertical-align: middle;
    color: #ffa500
}

.error_page_content h1:after, .error_page_content h1:before {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 20px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -mz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px
}

.error_page_content h1:after {
    right: -60px
}

.error_page_content h1:before {
    left: -60px
}

.error_page_content h2 {
    color: #c1c0b4;
    font-size: 60px;
    font-weight: 400
}

.error_page_content h3 {
    font-size: 24px;
    margin-top: 35px
}

.error_page_content p {
    font-size: 23px;
    line-height: 31px;
    margin: 36px auto 0;
    max-width: 630px;
    padding: 9px 0 8px;
    position: relative
}

.error_page_content p:before {
    content: "";
    left: 0;
    position: absolute;
    top: 1px;
    width: 100%
}

.error_page_content p:after {
    bottom: 1px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%
}

.error_page_content p > a:hover {
    color: #ffa500
}

#ContactContent {
    float: left;
    display: inline;
    width: 100%
}

.contact_area {
    display: inline;
    float: left;
    padding: 0 15px 25px;
    width: 100%
}

.contact_area h1 {
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center
}

.contact_area > p {
    text-align: center
}

.contact_bottom {
    float: left;
    display: inline;
    width: 100%
}

.our_office {
    display: inline;
    float: left;
    position: relative;
    text-align: center;
    width: 48%;
    margin-top: 30px
}

.our_office > h2 {
    font-size: 32px;
    margin: 24px 0
}

.contact_us {
    width: 48%;
    position: relative;
    margin-top: 30px;
    margin: 20px auto
}

.our_office:before, .contact_us:before {
    content: "";
    left: 0;
    position: absolute;
    top: 1px;
    width: 100%
}

.contact_us > h2 {
    font-size: 32px;
    margin: 24px 0;
    text-align: center
}

.contact_form {
}

.contact_form input[type="text"], .contact_form input[type="email"] {
    border-radius: 0;
    height: 40px;
    margin-bottom: 10px;
    width: 100%
}

.contact_form textarea {
    width: 100%;
    height: 150px;
    border-radius: 0px;
    margin-bottom: 10px
}

.contact_form input[type="submit"] {
    float: right;
    height: 40px;
    line-height: 40px;
    width: 100px;
    border: 1px solid #ccc;
    -webkit-transition: all 0.5s;
    -mz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.media-left > img {
    width: 100%;
    height: 70px;
}

@media (max-width: 1199px ) {
    .header_bottom_left {
        width: 210px
    }

    .logo {
        width: 210px
    }

    .featured_nav li {
        height: 160px;
        width: 47.7%
    }

    .single_featured_slide > h2 a {
        font-size: 20px
    }

    .media-left > img {
        width: 100%;
    }

    .pagincontent {
        width: 82%
    }
}

@media (max-width: 991px ) {
    .header_bottom_left {
        width: 100%
    }

    .header_bottom_right {
        display: none
    }

    .featured_nav li {
        margin-left: 10px;
        margin-right: 0px;
        height: 208px
    }

    .catgimg_container {
        height: 105px
    }

    .flicker_nav li a {
        height: 60px
    }

    .content_bottom_left {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%
    }

    .media-left > img {
        width: 100%;
        height: auto
    }

    .pagincontent {
        width: 84%
    }

    .contact_us {
        margin-top: 40px;
        width: 100%
    }

    .our_office {
        width: 100%
    }
}

@media (max-width: 767px ) {
    .header_top_left {
        width: 60%
    }

    .header_top_right {
        width: 40%
    }

    .search_form input[type="text"] {
        width: 80%
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px
    }

    .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px
    }

    .navbar-nav {
        margin: 7.5px 0
    }

    .custom_nav {
        border: none
    }

    .catgimg_container {
        height: 250px
    }

    .media-heading {
        font-size: 14px
    }

    .flicker_nav li a {
        height: 100px
    }

    .single_footer_top {
        margin-bottom: 20px
    }

    .footer_bottom_left {
        text-align: center
    }

    .footer_bottom_right {
        text-align: center
    }

    .media-left {
        width: 112px;
        height: 112px
    }

    .similar_nav li {
        width: 100%
    }

    .pagincontent {
        width: 87%
    }

    .angle_right {
        width: 13%
    }

    .angle_left {
        width: 13%
    }

    .error_page_content h1 {
        font-size: 170px
    }
}

@media (max-width: 480px ) {
    .header_top_left {
        width: 100%
    }

    .top_nav {
        text-align: center
    }

    .header_top_right {
        width: 100%;
        text-align: center;
        margin-bottom: 5px
    }

    .search_form input[type="text"] {
        width: 80%
    }

    .logo {
        width: auto
    }

    .header_bottom_left {
        text-align: center
    }

    .latest_slider {
        padding-left: 0
    }

    .featured_nav li {
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }

    .games_category {
        width: 100%
    }

    .fashion_category {
        width: 100%
    }

    .business_category_left {
        width: 100%
    }

    .business_category_right {
        width: 100%
    }

    .nav > li > a {
        padding: 10px
    }

    .pagincontent > a {
        font-size: 13px
    }

    .single_page_area > h2 {
        font-size: 20px;
        line-height: 30px;
        padding: 10px
    }

    .breadcrumb li a {
        font-size: 12px
    }

    .breadcrumb > .active {
        font-size: 12px
    }

    .error_page_content h1 {
        font-size: 100px
    }
}

@media (max-width: 360px ) {
    .catgimg_container {
        height: 150px
    }

    .media-left {
        width: 112px;
        height: 150px
    }

    .flicker_nav li a {
        height: 60px
    }

    .business_category_right .media-left, .games_category .media-left, .fashion_category .media-left {
        height: 112px
    }

    .pagincontent > a {
        font-size: 10px
    }

    .pagincontent > span {
        font-size: 10px
    }

    .archive_caption h2 > a {
        font-size: 18px;
        line-height: 20px
    }

    .error_page_content h1 {
        font-size: 70px
    }

    .error_page_content h2 {
        font-size: 40px
    }

    .error_page_content p {
        font-size: 17px
    }

    .error_page_content h1:after, .error_page_content h1:before {
        height: 15px;
        width: 15px
    }

    .error_page_content h1:after {
        right: -30px
    }

    .error_page_content h1:before {
        left: -30px
    }

    .top_nav li a {
        padding: 8px 7px
    }

    .flicker_nav li {
        margin-right: 7px;
        margin-bottom: 7px
    }

    .similar_post h2 {
        font-size: 17px
    }
}

/*************************
*******login page CSS******
**************************/

#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.login-form {

}

.signup-form {
    min-height: 320px;
}

.login-form h2, .signup-form h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}


.login-form form input, .signup-form form input {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span{
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.login-form form button, .signup-form form button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.login-form label{

}


.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}


.or{
	background: #FE980F;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}

/****** USER PROFILE  ********/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    float: left;
    text-align: center;
}

.card_wrapper {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card button:hover, .card a:hover {
    opacity: 0.7;
}

.cabinet_logo {
    margin-top: 10px;
    border-bottom: 1px solid silver;
    padding: 10px;
}

.cabinet_logo i {
    font-size: 13em;
}

/***** ( 403 Page AccessDenied ) *****/
.wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  background: repeating-linear-gradient(45deg, darkred, darkred 2px, #330000 3px, #330000 8px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-top: 100px;
}

#spam {
  background-color: lightgray;
  border-radius: 5px;
  margin: auto;
  width: 85%;
  cursor: not-allowed;
}
#spam h1 {
  padding-top: 30px;
  font-size: 60px;
  font-family: Arial;
  text-align: center;
  border-bottom: 1px solid #333;
  border-bottom-style: dashed;
  padding-bottom: 20px;
}
#spam spam {
   color: red;
   text-decoration: none;
   cursor: not-allowed;
}
#spam p {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  padding-bottom: 3%;
}
#spam small {
  font-family: Arial;
  text-align: center;
  word-spacing: -1px;
  font-size: 10px;
  font-weight: normal;
  color: gray;
}
#gears {
  text-align: center;
  color: #333;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.85);
  /* opacity: 0.85; */
  padding: 30px 0px;
}
/***** End ( 403 Page AccessDenied ) *****/

/***** Message modal *****/
.modal-open {
    padding-right: 0 !important;
}
#message_modal {
    width: 50%;
    margin: 15px auto;
}
/***** End Message modal *****/

/***** Guest modal *****/
#guest_modal {
    opacity: 1;
    background-color: rgba(52, 54, 66, 0.9);
}
.modal-open {
    padding-right: 0 !important;
}
#guest_message_modal {
    width: 50%;
    margin: 15px auto;
}
/***** End Guest modal *****/



/***** LOG IN REGISTER MODAL *****/
/* --------------------------------
sigin/signup popup
-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 10;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-form label.cd-username {
    background-image: url("/includes/img/form_icons/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("/includes/img/form_icons/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("/includes/img/form_icons/cd-icon-password.svg");
}

.cd-form label {
    font-size: 1em;
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 100%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.8em;
    line-height: 1.4;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 1em;
}
.cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("/includes/img/form_icons/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.my-profile {
    transition: all .5s;
    padding: 10px 15px !important;
    margin-top: 15px;
    color: #27AE60;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 10px #fff;
    font-size: 1.3em;
}
.my-profile:hover {
    background: #ECF0F1 !important;
    box-shadow: 0 0 1px #000;
    color: #000;
}

.live {
    background-color:red;
    color:white;
    padding: 3px 7px;
    border-radius: 5px;
}

.live_img {
    width: 85% !important;
    height: auto !important;
}

@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}

#error_message_signup li, #error_message_login li {
    color: red;
}
/* --------------------------------
end xsigin/signup popup
-------------------------------- */


/* --------------------------------
    MEDIA
-------------------------------- */
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .archive_style_1 > .business_category_left {
        width: 100% !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

/* disable hosting logo */
.cbalink {
    display: none;
}